.header {
	background: linear-gradient(165deg, $color-primary-deep, $color-primary-dark, $color-primary);
	position: relative;
	height: 55vh;

	@media only screen and (min-width: 600px) {
		height: 95vh;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 70vh, 50% 90vh, 0 70vh);
	}
	

	&__logo-box {
		position: absolute;
		top: 3rem;
		left: 4rem;
	}

	&__logo {
		height: 8rem;
	}

	&__text-box {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}
