.header {
	height: 95vh;
	background: linear-gradient(165deg, #590089, #762ea3, #b861bd, #ffd9d9);

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 70vh, 50% 90vh, 0 70vh);
	position: relative;

	&__logo-box {
		position: absolute;
		top: 3rem;
		left: 4rem;
	}

	&__logo {
		height: 8rem;
	}

	&__text-box {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}
