@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin default-img-gradient($img) {
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-deep, 0.8)),
    url(#{$img});
    background-size: cover;
}

// 1em = 16px
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width:37.5em) {  //600px
            @content
        };
    }
    @if $breakpoint == tab-port {
        @media (max-width:56.25em) {  //900px
            @content
        };
    }
    @if $breakpoint == tab-land {
        @media (max-width:75em) { //1200px
            @content
        };
    }
    @if $breakpoint == desktop-lg {
        @media (min-width:112.5em) { //1800px
            @content
        };
    }
}
