// COLORS
$color-primary: #bf97ff;
$color-primary-light:  #d8c0ff;
$color-primary-dark: #8569b2;
$color-primary-deep: #392d4c;

$color-secondary-light: #ffe3b9;
$color-secondary-dark: #f5b46b;

$color-tertiary-light: #ffddd9;
$color-tertiary-dark: #eb9482;

// $color-tertiary-light: #d3eaf1;
// $color-tertiary-dark: #a8cdf8;

$color-grey-light:#eeeeee;
$color-grey-medium:#777;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;