// COLORS
$color-primary: #6036a4;
$color-primary-light: #b689ff;
$color-primary-dark: #590089;
$color-primary-deep: #28124b;

$color-secondary-light: #b689ff;
$color-secondary-dark: #812ead;

$color-tertiary-light: #b689ff;
$color-tertiary-dark: #a45cca;

$color-grey-light: #eeeeee;
$color-grey-medium: #777;

$color-white: #fff;
$color-black: #000;

$zigzag: linear-gradient(135deg, #59008955 25%, transparent 25%) -40px 0/ 80px 80px,
	linear-gradient(225deg, #590089 25%, transparent 25%) -40px 0/ 80px 80px,
	linear-gradient(315deg, #59008955 25%, transparent 25%) 0px 0/ 80px 80px,
	linear-gradient(45deg, #590089 25%, #762ea3 25%) 0px 0/ 80px 80px;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
