// COLORS

$color-primary: #046c4e; // Lighter emerald green
$color-primary-light: #13a87c; // Even lighter emerald
$color-primary-dark: #02402c; // Darker emerald
$color-primary-deep: #012218; // Deepest emerald

$color-secondary-light: #13a87c; // Lighter emerald
$color-secondary-dark: #02402c; // Darker emerald

$color-tertiary-light: #13a87c; // Lighter emerald
$color-tertiary-dark: #013d2b; // Deep teal/emerald

$color-grey-light: #eeeeee;
$color-grey-medium: #777;
$color-grey-dark: rgb(35, 35, 35);

$color-white: #fff;
$color-black: #000;


$zigzag: linear-gradient(135deg, #046c4e55 25%, transparent 25%) -40px 0/ 80px 80px,
    linear-gradient(225deg, #046c4e 25%, transparent 25%) -40px 0/ 80px 80px,
    linear-gradient(315deg, #046c4e55 25%, transparent 25%) 0px 0/ 80px 80px,
    linear-gradient(45deg, #046c4e 25%, #13a87c 25%) 0px 0/ 80px 80px;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
