.section{
    
    &-about {
    background-color: $color-grey-light;
    padding: 30rem 0 50rem 0;
    margin-top: -30vh;

        @media screen and (max-width:600px) {
            display: none;
        }   
    }


    &-divider {
        padding: 8rem 0;
        background: $zigzag;
        transform: skewY(-7deg);
        margin-top: -35rem;

        & > * {
            transform: skewY(7deg);
        }

        @media screen and (max-width:600px) {
            display: none;
        }
    }

    &-experience {
    background-color: $color-grey-light;
    padding: 25rem 0 15rem 0;
    margin-top: -12rem;

        @media screen and (max-width:600px) {
            display: none;
        }
    }
}
