.section-about {
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -25vh;
}

.section-projects {
    padding: 20rem 0;
    @include default-img-gradient("../img/earth.jpg");
    background-position: center;

    transform: skewY(-7deg);
    margin-top: -12rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section-experience {
    background-color: $color-grey-light;
    padding: 25rem 0 50rem 0;
    margin-top: -12rem;

}